/* Wrapper geral da página */
.produtos-wrapper {
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  color: #1a1a1a;
  box-sizing: border-box;
  margin-top: 40px;
}

/* Título */
.produtos-header {
  font-size: 1.8rem;
  color: #3e334e;
  margin-bottom: 2rem;
  text-align: left !important;
}

/* Tabela de produtos */
.produtos-tabela {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

/* Cabeçalho da tabela */
.produtos-tabela thead {
  background-color: #f1f1f1;
}

.produtos-tabela th {
  text-align: left;
  padding: 0.75rem;
  color: #2c2c2c;
  font-weight: 600;
  font-size: 0.95rem;
}

/* Células da tabela */
.produtos-tabela td {
  padding: 0.75rem;
  border-top: 1px solid #ddd;
  color: #333;
  text-align: left;
  color: #0083b0;
  text-decoration: underline;
}

/* Responsividade básica */
@media (max-width: 768px) {
  .produtos-tabela,
  .produtos-tabela thead,
  .produtos-tabela tbody,
  .produtos-tabela th,
  .produtos-tabela td,
  .produtos-tabela tr {
    display: block;
  }

  .produtos-tabela th {
    display: none;
  }

  .produtos-tabela td {
  text-align: left;
  padding: 0.75rem;
  border-top: 1px solid #ddd;
  color: #333;
}

    .produtos-tabela td::before {
      position: absolute;
      left: 1rem;
      top: 0.75rem;
      white-space: nowrap;
      font-weight: bold;
      color: #555;
    }
  }

.tecnico-registo-manutencao-botoes {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 20px;
}

.tecnico-registo-manutencao-botao-voltar {
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background: linear-gradient(to right, #00b4db, #0083b0);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none; /* Remove o sublinhado do link */
  display: inline-block;
}

.tecnico-registo-manutencao-botao-voltar:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Gestao-utilizadores-botoes {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.Gestao-utilizadores-botoes button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #00b4db, #0083b0);
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Gestao-utilizadores-botoes button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}