.materia-prima-wrapper {
  width: 100%;
  padding: 4rem 2rem 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  color: #1a1a1a;
  box-sizing: border-box;
  margin-top: 65px;
}
  
.materia-prima-wrapper h2 {
  margin-bottom: 2rem;
  color: #3e334e;
  text-align: left;
}
  
.tabela-materia-prima {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}
  
.tabela-materia-prima th,
.tabela-materia-prima td {
  border: 1px solid #ccc;
  padding: 0.75rem;
  text-align: left;
  font-size: 1rem;
}
  
.tabela-materia-prima th {
  background-color: #f0f0f0;
  color: #3e334e;
}
  
.botoes-materia {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
  
.botoes-materia button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
.botoes-materia .criar {
  background: linear-gradient(to right, #00b4db, #0083b0);
  color: white;
}
  
.botoes-materia .voltar {
  background: linear-gradient(to right,  #00b4db, #0083b0);
  color: white;
}
  
.botoes-materia button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}