.nova-entrega-wrapper {
    max-width: 700px;
    margin: auto;
    padding: 4rem 2rem 2rem;
    background: white;
    border-radius: 12px;
    margin-top: 65px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }
  
  .nova-entrega-wrapper h2,
  .nova-entrega-wrapper h3 {
    margin-bottom: 10px;
    color: #3e334e;
  }
  
  .nova-entrega-wrapper ul {
    list-style: none;
    padding-left: 0;
    color: #1a1a1a;
    background-color: #ffffff;
  }
  
  .nova-entrega-wrapper li {
    margin-bottom: 6px;
  }
  
  .confirmar-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(to right, #00b4db, #0083b0);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
  }
  