.login-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: #ffffff;
  padding: 2.5rem 2rem;
  border-radius: 12px;
  width: 360px;
  min-height: 460px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  text-align: left;
  font-family: sans-serif;
  color: #3e334e;
  display: flex;
  flex-direction: column;
}

.logo-title {
  font-size: 2.0rem;
  margin-top: 0%;
  font-weight: 700;
  color: #3e334e;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.login-card h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
  color: #3e334e;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  text-align: left;
  margin-left: 100px;
  margin-bottom: 0.3rem;
  font-weight: 500;
  color: #3e334e;
  width: 100%;
  font-weight: bold;
}

.form-group input {
  width: 70%;
  height: 30px;
  max-width: 240px;
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  color: #3e334e;
  background-color: #f9f9f9;
  text-align: left;
}

.form-group input::placeholder {
  color: #aaa;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 1rem auto;
  font-size: 0.9rem;
  color: #3e334e;
  width: fit-content;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttons button {
  width: 100%;
  max-width: 200px;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background-color: #3e334e;
  color: white;
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.buttons button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #2f263c;
}