.sidebar-item {
  width: 100%;
  text-align: center;
  padding: 0.6rem 0.2rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.2s;
}
  
.sidebar-item:hover {
  background-color: #f3f3f3;
}
  
.sidebar-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 0.3rem;
}
  
.sidebar-item span {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}
  
.sidebar-item.active {
  background-color: #3e334e;
  color: white;
}
  
.sidebar-item.active span {
  color: white;
}
  
.sidebar-item.active .sidebar-icon {
  filter: brightness(0) invert(1);
}
  